
body {
    background-image: url(img/nurmikko.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: x-large;
    background-color: lightgrey;
    border: black 3px solid;
    border-radius: 8px;
    margin: 30px;
    
}

    /*Content*/

.catclicker {
    background-color: lightgrey;
    border: black 3px solid;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin-left: 400px;
    height: 450px;
    width: 350px;
    
}

.catclicker img {
    width: 300px;
    height: 200px;
}
    /*Upgrades*/
.upgrades {
    background-color: lightgrey;
    border: black 2px solid;
    border-radius: 10px;
    float: right;
    margin-right: 250px;
    height: 600px;
    width: 600px;
    position: relative;
}

#clicker {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 50px;
}

#spray {
    height: 200px;
    width: 200px;
    position: absolute;
    right: 30px;
}

#dog {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 70px;
    left: 50px;
}

#multiplier {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 70px;
    right: 30px;
}

#multiplier button {
    width: 80px;
    height: 80px;
}

#ammountMultiplier2 {
    font-size: 40px;
}

    /*Responsive*/

@media screen and (max-width: 375px) {

    .body {
        text-align: center;
    }

    .catclicker {
        float: right;
    }

    .upgrades {
        float: left;
        width: 360px;
        
    }

    #clicker {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0px;
        left: 30px;
    }
    
    #spray {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0px;
        right: 20px;
    }
    
    #dog {
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: 215px;
        left: 30px;
    }
    
    #multiplier {
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: 180px;
        right: 30px;
    }
    
    #multiplier button {
        width: 80px;
        height: 80px;
    }
    
    #ammountMultiplier2 {
        font-size: 40px;
    }
}